name: 'Build'

# Action Dependency Pins:
# actions/checkout            - 08c6903cd8c0fde910a37f88322edcfb5dd907a8 - v5.0.0 - https://github.com/actions/checkout/releases
# actions/setup-java          - dded0888837ed1f317902acf8a20df0ad188d165 - v5.0.0 - https://github.com/actions/setup-java/releases
# actions/upload-artifact     - 330a01c490aca151604b8cf639adc76d48f6c5d4 - v5.0.0 - https://github.com/actions/upload-artifact/releases
# gradle/actions/setup-gradle - 4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 - v5.0.0 - https://github.com/gradle/actions/releases

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: 'Setup Java'
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: '21'
          distribution: 'adopt'
      - name: 'Setup Gradle'
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: 'Build'
        run: ./gradlew build
      - name: 'Upload Build Reports'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: always()
        with:
          name: 'build-reports'
          path: 'aockt-*/build/reports'
